*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/gen/
/bin/
/proguard/
/mapping/
/deploy/
/antbin//temp/
/antbin/
/presrc/
/temp/
setting.properties
**/.DS_Store
*/.DS_Store
.DS_Store
/lint.xml
/kit-libs/